* {
	font-family: Roboto, sans-serif;
}
html, body {
	background-color: black;
}
p,h1,h2,h3,h4,h5 {
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
nav {
	display: inline-block;
}
ul {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
li {
	list-style-type: none;
	text-align: center;
	position: relative;
}
.nav {
	color: white;
	text-decoration: none;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 25px;
}
.toTop {
	visibility: hidden;
	opacity: 0;
	color: white;
	text-align: center;
	border: 1px solid Cyan;
	padding: .5rem;
	position: fixed;
	right: 50px;
	bottom: 60px;
	width: 35px;
	transition: all .3s linear;
	transition: box-shadow .2 linear;
	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 16px 5px rgba(3,116,237,1);
		-moz-box-shadow: 0px 0px 16px 5px rgba(3,116,237,1);
		box-shadow: 0px 0px 16px 5px rgba(3,116,237,1);		
	}
}
.topActive {
	visibility: visible;
	opacity: 1;
}
.toTop span {
	display: block;
}



/* -------------- Contact Form ------------------ */

#contact {
	border-radius: 10px;
	background-color: dodgerblue;
	justify-content: center;
}
.contact {
	position: relative;
	margin-top: 25px;
	text-align: center;
	color: white;
}
.contact h2 {
	padding-bottom: 1rem;
}
.contact-form {
	border: 1px solid blue;
	position: relative;
}
.contact-form label:after {
	content: "*";
}
.alert {
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	background-color: lime;
	color: white;
	margin: 10px auto;
	width: 80%;
	left: 0;
	right: 0;
	height: 100px;
	display: none;
	position: absolute;
	top: 10px;
	transition: top .4s linear;
}
form {
  margin: 0 auto;
  width: 550px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 80px;
  text-align: center;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 400px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
  resize: vertical;
}

.button {
	display: block;
	text-align: center;
	margin: 10px auto;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
}

@media screen and (max-width: 335px) {
	input, textarea, label {
		margin: auto;
		display: block;

	}
}
@media screen and (max-width: 550px) {
	form {
		width: 90%;
	}
	input, textarea {
		width: 70%;
	}
}
@media screen and (min-width: 1024px) {
	.contact {
		width: 1024px;
		margin: 20px auto;
	}
}

.navupper {
	color: white;
	margin: auto;
	text-align: center;
}
.navupper ul li {
	display: inline-block;
	margin: 0 10px;
}
.navupper ul li:hover {
	color: red;
}
.submenu {
	width: 100%;
	height: 100px;
	border: 1px solid lime;
	position: absolute;
	visibility: hidden;
}
.dropdown {
	transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	border: 1px solid white;
	background-color: lime;
	top: 0px;
}
.dropping {
	position: relative;
	background-color: yellow;
	top: 100px;
}